

* {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #CCC;
}
.head a{
	border:none;
}
#navl i:before{
	margin-right: 10px;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}


.footmain {
	height: 30px;
	background-color: rgb(246, 249, 250);
	line-height: 30px;
	text-align: center;
}

.head {
	background-color: #f8f8f9;
	box-shadow: 0 0 5px #888;
	z-index: 99;
	top: 0;
	height: 180px;
	background-image: url(/images/cb1c3ef50e22b6096fde67febe863494caefebad.png);
	background-position: -200px 0;
	/* width: 100%; */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 960px;
	margin: 0 auto 25px ;
}

#navbar {
	opacity: .9;
	background: rgba(85, 84, 85, 0.5);
	position: relative;
	top: 120px;
	height: 60px;
}

#navbar ul li {
	height: 60px;
	line-height: 60px;
	text-align: center;

}

#navbar ul li a {
	color: white;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 50px;
	box-sizing: border-box;
}

#navbar ul li a i {
	font-style: normal;
}

#navbar ul li:hover {
	color: white;
	background: rgb(226, 89, 139);
}
#hamburger {
	font-size: 40px;
	background: white;
	border: none;
	background: transparent;
	color: white;
	outline: none;
}
.navtitle{
	color: white;
	font-size: 20px;
}
.navlist{
	display: block;
}
#menu{
	display: none;
}
/* 进入PC端 */
@media (min-width: 768px) {
	#c_n13{
		display: block !important;
	}
	.mobile{
		display: none;
	}
	#navl{
		display: flex !important;
		justify-content: space-around;
	}
	#navbar{
		height: 60px !important;
	}
}

/* 进入移动端 */
@media (max-width: 767.98px) {
	#c_n13{
		display: none !important;
	}
	.head{
		width: 100%;
	}
	#navl{
		display: none;
	}
	#navbar li {
		width: 100%;
		
	}
	#navcontain {
		max-width: 100%;
	}
	#navbar{
		transition: .5s ease-out;
	}
	input{
		display: none;
	}
	.mobile{
		padding: 0 40px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		height:60px ;
	}
	.carousel{
		display: none;
	}
}
